/* generic stylings */


/* class stylings */
/* previous colors 395B64 */
.card-container {
  background-color: #325288;
  width: 75%;
  height: 100px;
  overflow: hidden;
  align-content: center;
  padding-left: 10px;
  margin-bottom: 1rem;
  min-width: 75%;
  border-radius: 15px;
}

.heading-container {
  padding-top: 3px;
}

/* Id stylings */

/* Other */
